<template>
  <div id="app">
    <div>
        <router-link class="nav" to="/artist">Artists</router-link>
        <router-link class="nav" to="/user">Users</router-link>
        <router-link class="nav" to="/release">Releases</router-link>
        <router-link class="nav" to="/event">Events</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import router from './routes'

export default {
  name: 'app',
  router
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a.nav {
    display: inline-block;
    margin: 2px;
}
</style>
