<template>
    <div>
        Email: <input v-model.trim="email" />
        ID: <input v-model.trim="id" />
        <div>
            <button v-on:click="setPage(page - 1)">Prev Page</button>
                {{page}}
            <button v-on:click="setPage(page + 1)">Next Page</button>
            <button v-on:click="search()">Search</button>
        </div>
    </div>
</template>

<script>
import UserService from '../../services/UserService.js'

export default {
    data () {
        return {
            page: 0,
            email: "",
            id: "",
        }
    },
    methods: {
        findUsers (page = this.page) {
            let options = {}
            if (this.email.length) {
                options.email = this.email
            }
            if (this.id.length) {
                options._id = this.id
            }

            return UserService.getAll(page, options)
        },
        async setPage(newPage) {
            if (newPage < 0) {
                return
            }

            const newUsers = await this.findUsers(newPage)
            if (newUsers.length < 1) {
                return
            }

            this.page = newPage
            this.users = newUsers
            this.$emit("data", this.users)
        },
        async search() {
            this.users = await this.findUsers()
            this.$emit("data", this.users)
        },
    },
    async created () {
        this.search()
    }
}
</script>

<style>
</style>
