<template>
    <div>
        <UserFinder v-on:data="setUsers" />
        <table>
            <th>ID</th>
            <th>Email</th>
            <UserRow v-for="u in users" :key="u._id" :user="u"></UserRow>
        </table>
    </div>
</template>

<script>
import UserFinder from './UserFinder.vue'
import UserRow from './UserRow.vue'

export default {
    components: {
        UserFinder,
        UserRow,
    },
    data () {
        return {
            users: [],
        }
    },
    methods: {
        async setUsers(users) {
            this.users = users
        }
    },
}
</script>

<style>
</style>

