<template>
    <div>
        <h1>User Editor</h1>
        <h2>ID {{user._id}}</h2>
        <InstanceEditor :instance="user" v-on:save="save"/>
        <ArtistList :artist-ids="user.owned_artists" />
    </div>
</template>

<script>
import InstanceEditor from '../../lib/InstanceEditor.vue'
import UserService from '../../services/UserService.js'
import ArtistList from '../../components/artist/ArtistList.vue'

export default {
    name: 'UserEditor',
    props: {
        id: String
    },
    data () {
        return {
            user: {
                "email": "",
                "owned_artists": [],
                "admin_artists": [],
            },
        }
    },
    methods: {
        save (editedUser) {
            UserService.update(this.id, editedUser);
        }
    },
    components: {
        InstanceEditor,
        ArtistList,
    },
    async mounted () {
        this.user = await UserService.getById(this.id)
    }
}
</script>

<style>
</style>
