<template>
    <tr>
        <td><MongoIDConcat :id="user._id" /></td>
        <td>{{user.email}}</td>
        <td><router-link :to="{path: '/user/' + user._id}">Edit</router-link></td>
    </tr>
</template>

<script>
import MongoIDConcat from '../../lib/MongoIDConcat.vue'

export default {
    name: 'UserRow',
    props: {
        user: Object
    },
    components: {
        MongoIDConcat,
    }
}
</script>

<style>
</style>
