<template>
    <div>
        Owner: <input v-model.trim="ownerID" />
        ID: <input v-model.trim="id" />
        <div>
            <button v-on:click="setPage(page - 1)">Prev Page</button>
                {{page}}
            <button v-on:click="setPage(page + 1)">Next Page</button>
            <button v-on:click="search()">Search</button>
        </div>
    </div>
</template>

<script>
import EventService from '../../services/EventService.js'

export default {
    data () {
        return {
            page: 0,
            ownerID: "",
            id: "",
        }
    },
    methods: {
        findEvents (page = this.page) {
            let options = {}
            if (this.id.length) {
                options._id = this.id
            }
            if (this.ownerID.length) {
                options.owner = this.ownerID
            }

            return EventService.getAll(page, options)
        },
        async setPage(newPage) {
            if (newPage < 0) {
                return
            }

            const newEvents = await this.findEvents(newPage)
            if (newEvents.length < 1) {
                return
            }

            this.page = newPage
            this.events = newEvents
            this.$emit("data", this.events)
        },
        async search() {
            this.events = await this.findEvents()
            this.$emit("data", this.events)
        },
    },
    async created () {
        this.search()
    }
}
</script>

<style>
</style>
