<template>
    <tr>
        <td><MongoIDConcat :id="event._id" /></td>
        <td>{{event.name}}</td>
        <td>{{event.start_date}}</td>
        <td><ArtistList :artist-ids="event.linked_artists" /></td>
        <td><router-link :to="{path: '/event/' + event._id}">Edit</router-link></td>
    </tr>
</template>

<script>
import ArtistList from '../artist/ArtistList.vue'
import MongoIDConcat from '../../lib/MongoIDConcat.vue'

export default {
    name: 'EventRow',
    props: {
        event: Object
    },
    components: {
        ArtistList,
        MongoIDConcat,
    }
}
</script>

<style>
</style>
