<template>
    <div>
        <h1>Event Editor</h1>
        <h2>ID {{event._id}}</h2>
        <InstanceEditor :instance="event" v-on:save="save"/>
    </div>
</template>

<script>
import EventService from '../../services/EventService.js'
import InstanceEditor from '../../lib/InstanceEditor.vue'

export default {
    name: 'EventEditor',
    props: {
        id: String
    },
    data () {
        return {
            event: {
                "name": "",
                "alias": "",
                "contact_email": "",
                "owner": "",
                "admins": [],
                "events": [],
                "releases": [],
            },
        }
    },
    methods: {
        save (editedEvent) {
            EventService.update(this.id, editedEvent);
        }
    },
    components: {
        InstanceEditor
    },
    async mounted () {
        this.event = await EventService.getById(this.id)
    }
}
</script>

<style>
</style>
