<template>
    <div>
        <EventFinder v-on:data="setEvents" />
        <table>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Artists</th>
            <EventRow v-for="e in events" :key="e._id" :event="e"></EventRow>
        </table>
    </div>
</template>

<script>
import EventFinder from './EventFinder.vue'
import EventRow from './EventRow.vue'

export default {
    components: {
        EventFinder,
        EventRow,
    },
    data () {
        return {
            events: [],
        }
    },
    methods: {
        async setEvents(events) {
            this.events = events
        }
    },
}
</script>

<style>
</style>

