<template>
    <div>{{artistNames.join(', ')}}</div>
</template>

<script>
import ArtistService from '../../services/ArtistService.js'

export default {
    name: 'ArtistList',
    props: {
        artistIds: Array
    },
    data () {
        return {
            artists: [],
            artistNames: [],
        }
    },
    methods: {
        async init () {
            if (this.artistIds.length == 1) {
                // Let's try to hit the cache
                let artist = await ArtistService.getById(this.artistIds[0])
                this.artists = [artist]
            } else {
                this.artists = await ArtistService.getAll(0, {_id: {$in: this.artistIds}})
            }

            this.artistNames = this.artists.map(a => a.name)
            this.$emit('resolve', this.artists)
        }
    },
    watch: {
        artistIds () {
            this.init()
        }
    },
    mounted () {
        this.init()
    }
}
</script>

<style>
</style>
