<template>
    <tr>
        <td><MongoIDConcat :id="artist._id" /></td>
        <td>{{artist.name}}</td>
        <td><router-link :to="{path: '/artist/' + artist._id}">Edit</router-link></td>
    </tr>
</template>

<script>
import MongoIDConcat from '../../lib/MongoIDConcat.vue'

export default {
    name: 'ArtistRow',
    props: {
        artist: Object
    },
    components: {
        MongoIDConcat,
    }
}
</script>

<style>
</style>
