<template>
    <div>
        Name: <input v-model.trim="artistName" />
        Owner: <input v-model.trim="ownerID" />
        ID: <input v-model.trim="id" />
        <div>
            <button v-on:click="setPage(page - 1)">Prev Page</button>
                {{page}}
            <button v-on:click="setPage(page + 1)">Next Page</button>
            <button v-on:click="search()">Search</button>
        </div>
    </div>
</template>

<script>
import ArtistService from '../../services/ArtistService.js'

export default {
    data () {
        return {
            page: 0,
            artistName: "",
            ownerID: "",
            id: "",
        }
    },
    methods: {
        findArtists (page = this.page) {
            let options = {}
            if (this.id.length) {
                options._id = this.id
            }
            if (this.artistName.length) {
                options.name = this.artistName
            }
            if (this.ownerID.length) {
                options.owner = this.ownerID
            }

            return ArtistService.getAll(page, options)
        },
        async setPage(newPage) {
            if (newPage < 0) {
                return
            }

            const newArtists = await this.findArtists(newPage)
            if (newArtists.length < 1) {
                return
            }

            this.page = newPage
            this.artists = newArtists
            this.$emit("data", this.artists)
        },
        async search() {
            this.artists = await this.findArtists()
            this.$emit("data", this.artists)
        },
    },
    async created () {
        this.search()
    }
}
</script>

<style>
</style>
