<template>
    <div>
        <ArtistFinder v-on:data="setArtists"/>
        <table>
            <th>ID</th>
            <th>Name</th>
            <ArtistRow v-for="a in artists" :key="a._id" :artist="a"></ArtistRow>
        </table>
    </div>
</template>

<script>
import ArtistFinder from './ArtistFinder.vue'
import ArtistRow from './ArtistRow.vue'

export default {
    components: {
        ArtistFinder,
        ArtistRow,
    },
    data () {
        return {
            artists: [],
        }
    },
    methods: {
        async setArtists(artists) {
            this.artists = artists
        }
    }
}
</script>

<style>
</style>
