<template>
    <div>
        <h1>Artist Editor</h1>
        <h2>ID {{artist._id}}</h2>
        <InstanceEditor :instance="artist" v-on:save="save"/>
    </div>
</template>

<script>
import ArtistService from '../../services/ArtistService.js'
import InstanceEditor from '../../lib/InstanceEditor.vue'

export default {
    name: 'ArtistEditor',
    props: {
        id: String
    },
    data () {
        return {
            artist: {
                "name": "",
                "alias": "",
                "contact_email": "",
                "owner": "",
                "admins": [],
                "events": [],
                "releases": [],
            },
        }
    },
    methods: {
        save (editedArtist) {
            ArtistService.update(this.id, editedArtist)
        }
    },
    components: {
        InstanceEditor
    },
    async mounted () {
        this.artist = await ArtistService.getById(this.id)
    }
}
</script>

<style>
</style>
