<template>
    <div>
        <div v-for="(value, key) in editedInstance" :key="key">
            {{key}}:
            <template v-if="Array.isArray(editedInstance[key])">
                <div v-for="(item, idx) in editedInstance[key]" :key="idx">
                    <input v-model="editedInstance[key][idx]" />
                </div>
                <button v-on:click="editedInstance[key].push('')">Add {{key}}</button>
            </template>
            <template v-else>
                <input v-model="editedInstance[key]" />
            </template>
        </div>
        <button v-on:click="save()">Save</button>
    </div>
</template>

<script>
import Vue from 'vue'
export default {
    name: 'InstanceEditor',
    props: {
        instance: Object,
    },
    data () {
        return {
            initialKeys: [],
            editedInstance: {},
        }
    },
    methods: {
        save () {
            this.$emit('save', this.editedInstance);
        },
    },
    watch: {
        instance () {
            this.initialKeys.forEach(key => {
                this.editedInstance[key] = this.instance[key]
            })
        },
    },
    created () {
        this.initialKeys = Object.keys(this.instance)
        this.initialKeys.forEach(key => {
            Vue.set(this.editedInstance, key, this.instance[key])
        })
    }
}
</script>

<style>
</style>
