<template>
    <span>{{id.slice(0, 3)}}...{{id.slice(-4)}}</span>
</template>

<script>
export default {
    name: 'MongoIDConcat',
    props: {
        id: String
    }
}
</script>

<style>
</style>
